*.safetensors filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
artifacts/models/deberta_dreaddit_best/*.safetensors filter=lfs diff=lfs merge=lfs -text
artifacts/models/deberta_dreaddit_best/*.bin filter=lfs diff=lfs merge=lfs -text
